.advantages {
  padding: 60px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin: 0 15px;
  }
  &__iconbox {
    background-color: $backgroud-color-quaternary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  &__icon {
    margin: 25px 0;
  }
  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
  }
  &__description {
    color: $text-color-tertiary;
    font-weight: $font-weight-primary;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    &__list {
      justify-content: center;
      li {
        width: 354px;
      }
    }
    &__iconbox {
      width: 354px;
    }
    &__header {
      text-align: left;
    }
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 0;
    &__list {
      justify-content: center;
      li {
        width: 270px;
      }
    }
    &__iconbox {
      width: 270px;
    }
    &__header {
      text-align: left;
    }
  }
}
